:root{
    --white: #FFFFFF;
    --blue: #0072D2;
    --black: #131318;
}

@font-face {
    font-family:"bold";
    src: url("../fontes/B612-Bold.ttf")
}
@font-face {
    font-family:"boldItalic";
    src: url("../fontes/B612-BoldItalic.ttf")
}
@font-face {
    font-family:"italic";
    src: url("../fontes/B612-italic.ttf")
}
@font-face {
    font-family:"regular";
    src: url("../fontes/B612-Regular.ttf")
}

.container{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../image/fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
} 

.content{
    text-transform: uppercase;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.content h2{
    font-family: "bold";
    font-size: 20px;
    margin-top: 130px;
}

.content h1{
    font-family: "regular";
    font-size: 96px;
}

.container-content{
    display: flex;
    width: 40%;
}

.card-img img{
    width: 184px;
    height: 267px;  
    border-radius: 20px;
    margin-right: 50px;
}
.container-article{
    display: flex;
    margin-top: 150px;
}

.card-img{
    width:30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.container-post{
    display: flex;
    flex-direction: column;
}

.container-post p{
    font-size: 20px;
    font-family: "italic";
    letter-spacing: 1px;
    line-height: 160%;
}

.container-options{
    display: flex;
    justify-content: space-between;
    
}

.container-clock{
    display: flex;
    justify-content: flex-start;
}

.container-clock p{
    margin-left: 8px;
    margin-top: 26px;
    font-weight: bold;
}

.container-stars{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.star{
    border-bottom: 1px solid rgba(0,0,0,0);
    transition:  1s;
}

.star:hover{
    cursor: pointer;
    border-bottom: 20px solid rgba(0,0,0,0);
}

.container-year p{
     margin-top: 25px;
     font-family: "bold";
}

.assistir{
    background-color: var(--blue);
    height: 52px;
    width: 184px;
    color: var(--white);
    font-family: "regular";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
}

.assistir:hover{
    cursor: pointer;
    background-color: #2888d6;
}

.trailer{
    width:115px;
    height: 52px;
    background-color: var(--black);
    color: var(--white);
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    font-family: "bold";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid var(--white);
}

.trailer:hover{
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
}

